APP_NAME=BINARKAS
APP_BASE_PATH=/binarkas
APP_ENV=development
APP_ADMIN_NAME=BINARKAS Admin
APP_ADMIN_EMAIL=admin
APP_ADMIN_PASSWORD=ADMIN
DB_DRIVER=pgsql
DB_HOST=127.0.0.1
DB_PORT=5444
DB_DATABASE=binarkas
DB_USERNAME=admbinarkas
DB_PASSWORD=@B1n4rK4s
